@model IEnumerable<Wanderlust04.Models.Rating>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Create Rating","CreateRating", Model)

<table>
    
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationId)
            </th>
           
            <th></th>
        </tr>
    

    @foreach (var item in Model)
    {
        
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationId)
                </td>
                

                <td>
                   
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                   
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        
    }

</table>
